@import-normalize;

:root {
  --main-color: #4480C5;
  --second-color: #FF6A17;
  --highlight-color: #51C99C;
  --main-lighter-color: #F1F6FB;
  --main-light-color: #B9D0EF;
  --main-dark-color: #1D5297;
  --dark:#333333;
  --white: #FFFFFF;
}

html {
  background: var(--main-lighter-color);
}

body {
  margin: 0;
  color: var(--dark);
  font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }
